@charset "UTF-8";

@import url("https://fonts.googleapis.com/css?family=Open+Sans:regular,600,700&display=swap&subset=cyrillic-ext");

@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:600,700&display=swap&subset=cyrillic-ext");

[class*=container] {
  max-width: 71.625rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class^=_icon-]::before,
[class*=" _icon-"]::before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_icon-]::before,
[class*=" _icon-"]::before {
  display: block;
}

._icon-arrow:before {
  content: "\e900";
}

._icon-cart:before {
  content: "\e901";
}

._icon-mail:before {
  content: "\e902";
}

._icon-minus:before {
  content: "\e903";
}

._icon-phone:before {
  content: "\e904";
  color: #fff;
}

._icon-plus:before {
  content: "\e905";
}

._icon-search:before {
  content: "\e906";
}

[class*=container] {
  max-width: 71.625rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.button {
  display: inline-block;
  padding: 0.8125rem 1.75rem;
  background-color: #ff4b32;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #fff;
  border-radius: 0.3125rem;
  border: 1px solid #ff4b32;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button--fw {
  width: 100%;
}

.button:active {
  background-color: #d4240c;
  -webkit-transform: translateY(2px);
      -ms-transform: translateY(2px);
          transform: translateY(2px);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #fff;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
}

.input[placeholder]:not([data-placeholder-nohiden])::-webkit-input-placeholder {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::-moz-placeholder {
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden]):-ms-input-placeholder {
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::-ms-input-placeholder {
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::placeholder {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::focus::-webkit-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden])::focus::-moz-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden])::focus:-ms-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden])::focus::-ms-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden])::focus::placeholder {
  opacity: 0;
}

textarea.input {
  resize: none;
  padding: 0 0;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:before,
*:after {
  display: inline-block;
}

html,
body {
  height: 100%;
}

html,
body {
  line-height: 1;
  scrollbar-gutter: stable;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

label {
  display: inline-block;
}

input::-ms-clear {
  display: none;
}

button,
select,
option {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

body {
  min-width: 20rem;
  overflow-x: hidden;
  margin: 0;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  color: #191e27;
  font-size: 1rem;
  line-height: 160%;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

html.menu-open body {
  overflow-y: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > .main__wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

.no-webp .main__wrapper{
  background-image: url(../images/header.jpg); }

.main__wrapper {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  background: linear-gradient(91deg, #000 0%, #000 29.52%, #000 53.48%, #000 77.8%, #000 100%);
}

.no-webp .main__wrapper::after{
  background-image: url(../images/header.jpg); }

.main__wrapper::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right;
  max-width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-left: 0.625rem solid #0d0402;
  left: -5px;
}

.red {
  color: red;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

._ibg-contain img {
  -o-object-fit: contain;
     object-fit: contain;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 43px;
  line-height: 130%;
  color: #191e27;
  text-align: center;
}

.title:not(:last-child) {
  margin-bottom: 1.25rem;
}

.title:not(:last-child) {
  margin-bottom: 0.625rem;
}

.subtitle {
  max-width: 38.0625rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #191e27;
  opacity: 0.7;
  text-align: center;
}

.subtitle:not(:last-child) {
  margin: 0 auto;
  margin-bottom: 3.75rem;
}

.form {
  position: relative;
}

.form__input._error {
  -webkit-box-shadow: 0 0 0.3125rem red;
          box-shadow: 0 0 0.3125rem red;
  color: red;
}

.form__input._error::-webkit-input-placeholder {
  color: red;
}

.form__input._error::-moz-placeholder {
  color: red;
}

.form__input._error:-ms-input-placeholder {
  color: red;
}

.form__input._error::-ms-input-placeholder {
  color: red;
}

.form__input._error::placeholder {
  color: red;
}

.form__error {
  left: 0;
  color: red;
  font-size: 0.75rem;
}

.icon-menu {
  border: none;
  background: transparent;
  display: none;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header._header-scroll {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #0d0402;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  gap: 0.3125rem;
}

.header__logo img {
  width: 3.125rem;
  height: 3.125rem;
  aspect-ratio: 1/1;
}

.header__logo-text {
  color: #ff4b32;
  padding-top: 0.75rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 130%;
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2.375rem;
}

.header__form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 3.0625rem;
  height: 3.0625rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  padding: 0.875rem;
  border: 1px solid rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.header__form {
  padding-top: 0.3125rem;
  margin-right: 0.625rem;
}

.header__input {
  border: 1px solid rgba(255, 255, 255, 0.6);
  color: #fff;
  padding: 0.3125rem 0.625rem;
}

.header__cart {
  position: relative;
  cursor: pointer;
}

.header__cart-price {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: -0.3125rem;
  right: -0.625rem;
  width: 1.25rem;
  height: 1.25rem;
  background-color: #ff4b32;
  border-radius: 50%;
  color: #fff;
  font-size: 0.75rem;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 3.125rem;
     -moz-column-gap: 3.125rem;
          column-gap: 3.125rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.3125rem;
}

.menu__link {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #fff;
  opacity: 0.6;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

[class*=container] {
  max-width: 71.625rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.button {
  display: inline-block;
  padding: 0.8125rem 1.75rem;
  background-color: #ff4b32;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #fff;
  border-radius: 0.3125rem;
  border: 1px solid #ff4b32;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button--fw {
  width: 100%;
}

.button:active {
  background-color: #d4240c;
  -webkit-transform: translateY(2px);
      -ms-transform: translateY(2px);
          transform: translateY(2px);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #fff;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
}

.input[placeholder]:not([data-placeholder-nohiden])::-webkit-input-placeholder {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::-moz-placeholder {
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden]):-ms-input-placeholder {
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::-ms-input-placeholder {
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::placeholder {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::focus::-webkit-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden])::focus::-moz-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden])::focus:-ms-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden])::focus::-ms-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden])::focus::placeholder {
  opacity: 0;
}

textarea.input {
  resize: none;
  padding: 0 0;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:before,
*:after {
  display: inline-block;
}

html,
body {
  height: 100%;
}

html,
body {
  line-height: 1;
  scrollbar-gutter: stable;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

label {
  display: inline-block;
}

input::-ms-clear {
  display: none;
}

button,
select,
option {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

body {
  min-width: 20rem;
  overflow-x: hidden;
  margin: 0;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  color: #191e27;
  font-size: 1rem;
  line-height: 160%;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

html.menu-open body {
  overflow-y: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > .main__wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

.no-webp .main__wrapper{
  background-image: url(../images/header.jpg); }

.main__wrapper {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  background: linear-gradient(91deg, #000 0%, #000 29.52%, #000 53.48%, #000 77.8%, #000 100%);
}

.no-webp .main__wrapper::after{
  background-image: url(../images/header.jpg); }

.main__wrapper::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right;
  max-width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-left: 0.625rem solid #0d0402;
  left: -5px;
}

.red {
  color: red;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

._ibg-contain img {
  -o-object-fit: contain;
     object-fit: contain;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.main {
  position: relative;
  padding-bottom: 6.875rem;
  width: 100%;
  z-index: 50;
}

.main__container {
  padding-top: 13.125rem;
}

.main__title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 3.625rem;
  line-height: 120%;
  color: #fff;
  max-width: 32.75rem;
}

.main__title:not(:last-child) {
  margin-bottom: 1.625rem;
}

.main__subtitle {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 160%;
  color: #fff;
  opacity: 0.8;
  max-width: 31.625rem;
}

.main__subtitle:not(:last-child) {
  margin-bottom: 3rem;
}

.offer {
  padding-top: 8.75rem;
}

.offer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offer__body:not(:last-child) {
  margin-bottom: 3.75rem;
}

.offer__title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 43px;
  line-height: 130%;
  color: #191e27;
}

.offer__title:not(:last-child) {
  margin-bottom: 1.25rem;
}

.offer__title:not(:last-child) {
  margin-bottom: 0.625rem;
}

.offer__subtitle {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #191e27;
  opacity: 0.7;
}

.offer__body-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
}

.offer__arrow {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #ff4b32;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.offer__arrow::before {
  content: "";
  position: absolute;
  width: 2.875rem;
  height: 2.875rem;
  border-radius: 50%;
  border: 1px solid #ff4b32;
}

.offer__arrow-next {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.offer__swiper {
  padding-bottom: 0.625rem;
}

.offer__slide {
  max-width: 20.5rem;
}

.card__top:not(:last-child) {
  margin-bottom: 2.1875rem;
}

.card__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__image img {
  max-width: 100%;
  height: 20.5rem;
}

.card__price {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: #0c0d0c;
}

.card__price:not(:last-child) {
  margin-bottom: 0.625rem;
}

.card__title {
  width: 100%;
  white-space: nowrap;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 130%;
  color: #191e27;
}

.card__title:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.card__subtitle {
  width: 16.0625rem;
  opacity: 0.6;
}

.card__subtitle:not(:last-child) {
  margin-bottom: 1.875rem;
}

.card__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
}

.card__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #000;
  border-radius: 0.125rem;
  font-weight: 500;
  font-size: 24px;
  color: #0c0d0c;
}

.card__number-quantity {
  padding: 0rem 1.3125rem;
}

.card__number-plus-minus {
  border-left: 1px solid #000;
}

.card__number-plus {
  padding: 0rem 1.5rem;
  border-bottom: 1px solid #000;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.card__number-plus:active {
  background-color: #eee;
  -webkit-transform: translateY(1px);
      -ms-transform: translateY(1px);
          transform: translateY(1px);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.card__number-minus {
  padding: 0rem 1.5rem;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.card__number-minus:active {
  background-color: #eee;
  -webkit-transform: translateY(1px);
      -ms-transform: translateY(1px);
          transform: translateY(1px);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.card__add {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.gallery {
  padding-top: 8.75rem;
  padding-bottom: 8.75rem;
}

.gallery__container {
  padding: 0;
}

.gallery__images {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(22.625rem, 1fr));
  gap: 1.875rem;
  grid-auto-rows: 6.875rem;
  grid-auto-flow: dense;
}

.gallery__images:not(:last-child) {
  margin-bottom: 3.75rem;
}

.gallery__image {
  height: 100%;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.gallery__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery__image:nth-child(1) {
  -ms-grid-row-span: 3;
  grid-row: span 3;
}

.gallery__image:nth-child(2) {
  -ms-grid-row-span: 2;
  grid-row: span 2;
}

.gallery__image:nth-child(3) {
  -ms-grid-row-span: 3;
  grid-row: span 3;
}

.gallery__image:nth-child(5) {
  -ms-grid-row-span: 2;
  grid-row: span 2;
}

.gallery__image:nth-child(4) {
  -ms-grid-row-span: 3;
  grid-row: span 3;
}

.gallery__image:nth-child(6) {
  -ms-grid-row-span: 2;
  grid-row: span 2;
}

.gallery__button {
  max-width: 28.75rem;
  margin: 0 auto;
  text-align: center;
  padding: 0.9375rem 0;
  border-top: 2px solid #0d0402;
  border-bottom: 2px solid #0d0402;
  cursor: pointer;
  color: #ff4b32;
}

.contact {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
  position: relative;
  background-color: #0d0402;
}

.no-webp .contact::before{
  background-image: url("../images/contact/left.png"); }

.contact::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.no-webp .contact::after{
  background-image: url("../images/contact/right.png"); }

.contact::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.contact__container {
  position: relative;
  text-align: center;
  color: #fff;
  z-index: 1;
}

.contact__folow {
  display: inline-block;
  position: relative;
  font-weight: 600;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 150%;
  color: #ff4b32;
  padding-bottom: 1.5625rem;
  margin-bottom: 2.5rem;
}

.contact__folow::after {
  content: "";
  position: absolute;
  width: 5.9375rem;
  border: 2px solid #ff4b32;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.contact__title {
  max-width: 38.75rem;
  font-weight: 600;
  color: #fff;
  font-size: 2.6875rem;
  line-height: 130%;
  margin: 0 auto;
}

.contact__title:not(:last-child) {
  margin-bottom: 3.75rem;
}

.contact__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.9375rem;
  cursor: pointer;
}

.contact__tel {
  font-weight: 400;
  font-size: 1.5rem;
}

.contact__tel:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.contact__mail {
  font-weight: 400;
  font-size: 1.5rem;
}

.contact__mail:not(:last-child) {
  margin-bottom: 1.875rem;
}

.contact__mail-link {
  display: block;
}

.contact__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2.5rem;
}

.contact__images {
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.contact__images img {
  max-width: 100%;
}

.update {
  padding-top: 8.75rem;
  padding-bottom: 8.75rem;
}

.update__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.875rem;
}

.card-update {
  -webkit-box-shadow: 40px 15px 136px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 40px 15px 136px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 1.25rem;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.card-update__bottom {
  padding: 1.875rem;
}

.card-update__link {
  display: inline-block;
  font-weight: 600;
  font-size: 1rem;
  line-height: 160%;
  color: #ff4b32;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.card-update__link::after {
  content: "";
  display: inline-block;
  background-image: url("../images/arrow-top.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 0.6875rem;
  height: 0.6875rem;
  margin-left: 0.625rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer {
  padding-top: 4.6875rem;
  color: #fff;
  background-color: #0d0402;
}

.footer__top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  gap: 2.6875rem;
  padding-bottom: 3.125rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.footer__item {
  max-width: 15.625rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #fff;
}

.footer__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #fff;
  text-transform: uppercase;
}

.footer__title:not(:last-child) {
  margin-bottom: 1.25rem;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  gap: 0.3125rem;
  margin-top: -0.9375rem;
}

.footer__logo img {
  width: 3.125rem;
  height: 3.125rem;
  aspect-ratio: 1/1;
}

.footer__logo:not(:last-child) {
  margin-bottom: 1.875rem;
}

.footer__logo-text {
  color: #ff4b32;
  padding-top: 0.9375rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 130%;
}

.footer__contacts-text:not(:last-child) {
  margin-bottom: 1.6875rem;
}

.footer__contacts-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}

.footer__contacts-phone {
  padding-top: 0.25rem;
}

.footer__categories-item:not(:last-child) {
  margin-bottom: 1.25rem;
}

.footer__categories-link:hover {
  text-decoration: underline;
}

.footer__information-item:not(:last-child) {
  margin-bottom: 1.25rem;
}

.footer__information-link:hover {
  text-decoration: underline;
}

.footer__follow-title:not(:last-child) {
  margin-bottom: 2.8125rem;
  margin-bottom: 2.8125rem;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
}

.footer__images {
  width: 2.4375rem;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.footer__images img {
  max-width: 100%;
}

.footer__bottom {
  padding-top: 1.5625rem;
  padding-bottom: 3.375rem;
  text-align: center;
}

/*Responsive*/

/* 992px - 1200px */

/* 768px - 992px */

/* 576px - 768px */

/* 320px - 576px */

@media (min-width: 47.99875em) {
  .header__container {
    -webkit-column-gap: 3.75rem;
       -moz-column-gap: 3.75rem;
            column-gap: 3.75rem;
  }
}

@media (max-width: 1146px) {
  .header__logo-text {
    font-size: calc(1.125rem + 6 * (100vw - 320px) / 826);
  }

  .header__buttons {
    gap: calc(0.625rem + 28 * (100vw - 320px) / 826);
  }

  .menu__list {
    -webkit-column-gap: calc(0rem + 50 * (100vw - 320px) / 826);
       -moz-column-gap: calc(0rem + 50 * (100vw - 320px) / 826);
            column-gap: calc(0rem + 50 * (100vw - 320px) / 826);
  }

  .main {
    padding-bottom: calc(3.125rem + 60 * (100vw - 320px) / 826);
  }

  .main__container {
    padding-top: calc(6.25rem + 110 * (100vw - 320px) / 826);
  }

  .main__title {
    font-size: calc(2rem + 26 * (100vw - 320px) / 826);
  }

  .main__title:not(:last-child) {
    margin-bottom: calc(0.9375rem + 11 * (100vw - 320px) / 826);
  }

  .main__subtitle {
    font-size: calc(1rem + 4 * (100vw - 320px) / 826);
  }

  .main__subtitle:not(:last-child) {
    margin-bottom: calc(1.875rem + 18 * (100vw - 320px) / 826);
  }

  .offer {
    padding-top: calc(4.375rem + 70 * (100vw - 320px) / 826);
  }

  .gallery {
    padding-top: calc(4.375rem + 70 * (100vw - 320px) / 826);
  }

  .gallery {
    padding-bottom: calc(4.375rem + 70 * (100vw - 320px) / 826);
  }

  .gallery__images {
    gap: calc(1.25rem + 10 * (100vw - 320px) / 826);
  }

  .gallery__images:not(:last-child) {
    margin-bottom: calc(1.875rem + 30 * (100vw - 320px) / 826);
  }

  .contact {
    padding-top: calc(3.125rem + 50 * (100vw - 320px) / 826);
  }

  .contact {
    padding-bottom: calc(3.125rem + 50 * (100vw - 320px) / 826);
  }

  .contact__folow {
    font-size: calc(1.125rem + 6 * (100vw - 320px) / 826);
  }

  .contact__title {
    font-size: calc(1.5rem + 19 * (100vw - 320px) / 826);
  }

  .contact__title:not(:last-child) {
    margin-bottom: calc(1.875rem + 30 * (100vw - 320px) / 826);
  }

  .contact__tel {
    font-size: calc(0.875rem + 10 * (100vw - 320px) / 826);
  }

  .contact__tel:not(:last-child) {
    margin-bottom: calc(0.9375rem + 10 * (100vw - 320px) / 826);
  }

  .contact__mail {
    font-size: calc(0.875rem + 10 * (100vw - 320px) / 826);
  }

  .contact__mail:not(:last-child) {
    margin-bottom: calc(1.25rem + 10 * (100vw - 320px) / 826);
  }

  .contact__social {
    gap: calc(1.25rem + 20 * (100vw - 320px) / 826);
  }

  .update {
    padding-top: calc(4.375rem + 70 * (100vw - 320px) / 826);
  }

  .update {
    padding-bottom: calc(4.375rem + 70 * (100vw - 320px) / 826);
  }

  .card-update__bottom {
    padding: calc(0.9375rem + 15 * (100vw - 320px) / 826);
  }

  .card-update__link {
    font-size: calc(0.875rem + 2 * (100vw - 320px) / 826);
  }

  .footer {
    padding-top: calc(2.5rem + 35 * (100vw - 320px) / 826);
  }

  .footer__top {
    gap: calc(1.25rem + 23 * (100vw - 320px) / 826);
  }

  .footer__top {
    padding-bottom: calc(1.875rem + 20 * (100vw - 320px) / 826);
  }

  .footer__title:not(:last-child) {
    margin-bottom: calc(0.625rem + 10 * (100vw - 320px) / 826);
  }

  .footer__logo:not(:last-child) {
    margin-bottom: calc(1.25rem + 10 * (100vw - 320px) / 826);
  }

  .footer__logo-text {
    font-size: calc(1.125rem + 6 * (100vw - 320px) / 826);
  }

  .footer__contacts-text:not(:last-child) {
    margin-bottom: calc(0.9375rem + 12 * (100vw - 320px) / 826);
  }

  .footer__categories-item:not(:last-child) {
    margin-bottom: calc(0.625rem + 10 * (100vw - 320px) / 826);
  }

  .footer__information-item:not(:last-child) {
    margin-bottom: calc(0.625rem + 10 * (100vw - 320px) / 826);
  }

  .footer__follow-title:not(:last-child) {
    margin-bottom: calc(1.25rem + 25 * (100vw - 320px) / 826);
  }

  .footer__social {
    gap: calc(0.625rem + 20 * (100vw - 320px) / 826);
  }

  .footer__bottom {
    padding-bottom: calc(1.5625rem + 29 * (100vw - 320px) / 826);
  }
}

@media (max-width: 71.625em) {
  .gallery__images {
    padding: 0 0.9375rem;
  }

  .gallery__image:nth-child(5) {
    -ms-grid-row-span: 3;
    grid-row: span 3;
  }
}

@media (max-width: 61.99875em) {
  .card__image img {
    height: 12.5rem;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .update__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .card-update {
    text-align: center;
  }

  .card-update__image {
    width: 100%;
  }

  .card-update__image img {
    max-width: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .card-update__subtitle {
    margin-left: auto;
    margin-right: auto;
  }

  .footer__top {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__item {
    -ms-grid-column-align: start;
        justify-self: start;
    max-width: 100%;
  }
}

@media (max-width: 48.6875em) {
  .gallery__image:nth-child(2) {
    -ms-grid-row-span: 3;
    grid-row: span 3;
  }

  .gallery__image:nth-child(6) {
    -ms-grid-row-span: 3;
    grid-row: span 3;
  }
}

@media (max-width: 47.99875em) {
  .title {
    font-size: 32px;
  }

  .subtitle {
    font-size: 16px;
  }

  .subtitle {
    margin: 0 auto;
    margin-bottom: 1.875rem;
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    overflow: auto;
    padding: 3.125rem 0.9375rem 1.875rem 0.9375rem;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    left: -100%;
    top: 0;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
    z-index: 2;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
    pointer-events: none;
    opacity: 0.6;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .menu-open .icon-menu::before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu::after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 0.0625rem);
  }

  .header__buttons {
    margin-left: 1.875rem;
  }

  .menu__body {
    background-color: #0d0402;
    padding-top: 7.5rem;
    z-index: -1;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 1.875rem;
  }

  .menu__link {
    font-size: 1.5rem;
  }

  .offer__body {
    margin-bottom: 1.875rem;
  }

  .offer__title {
    font-size: 32px;
  }

  .offer__subtitle {
    font-size: 16px;
  }

  .offer__arrow {
    display: none;
  }

  .card__top {
    margin-bottom: 1.25rem;
  }

  .card__price {
    font-size: 18px;
  }

  .card__price:not(:last-child) {
    margin-bottom: 0.3125rem;
  }

  .card__title {
    font-size: 24px;
  }

  .card__title:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .card__subtitle {
    width: 100%;
  }

  .card__subtitle:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .card__number {
    font-size: 18px;
  }
}

@media (max-width: 34.375em) {
  .header__form-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 0.625rem;
  }

  .header__form {
    margin-right: 0;
  }
}

@media (max-width: 29.99875em) {
  .header__buttons {
    margin-left: 1.25rem;
  }

  .gallery__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .gallery__image img {
    width: 18.75rem;
  }

  .gallery__image:nth-child(2) {
    -ms-grid-row-span: 2;
    grid-row: span 2;
  }

  .gallery__image:nth-child(3) {
    -ms-grid-row-span: 2;
    grid-row: span 2;
  }

  .gallery__image:nth-child(5) {
    -ms-grid-row-span: 2;
    grid-row: span 2;
  }

  .gallery__image:nth-child(4) {
    -ms-grid-row-span: 2;
    grid-row: span 2;
  }

  .gallery__image:nth-child(6) {
    -ms-grid-row-span: 2;
    grid-row: span 2;
  }

  .footer__top {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 47.99875em) and (max-width: 1146px) {
  .header__container {
    -webkit-column-gap: calc(0rem + 60 * (100vw - 320px) / 826);
       -moz-column-gap: calc(0rem + 60 * (100vw - 320px) / 826);
            column-gap: calc(0rem + 60 * (100vw - 320px) / 826);
  }
}

@media (any-hover: hover) {
  .button:hover {
    background-color: #fff;
    color: #191e27;
  }

  .menu__link:hover {
    color: #ff4b32;
    opacity: 1;
  }

  .button:hover {
    background-color: #fff;
    color: #191e27;
  }

  .offer__arrow:hover {
    opacity: 0.7;
  }

  .card__number-plus:hover {
    font-weight: 700;
  }

  .card__number-minus:hover {
    font-weight: 700;
  }

  .gallery__image:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  .gallery__button:hover {
    color: #191e27;
  }

  .contact__tel-link:hover {
    text-decoration: underline;
  }

  .contact__mail-link:hover {
    text-decoration: underline;
  }

  .contact__images:hover {
    -webkit-transform: translateY(-2px);
        -ms-transform: translateY(-2px);
            transform: translateY(-2px);
  }

  .card-update:hover {
    -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  .card-update__link:hover {
    text-decoration: underline;
  }

  .card-update__link:hover::after {
    -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
            transform: rotate(30deg);
  }

  .footer__contacts-phone:hover {
    text-decoration: underline;
  }

  .footer__images:hover {
    -webkit-transform: translateY(-2px);
        -ms-transform: translateY(-2px);
            transform: translateY(-2px);
  }
}

.webp .main__wrapper{ background-image: url(../images/header.webp); }

.webp .main__wrapper::after{ background-image: url(../images/header.webp); }

.webp .main__wrapper{ background-image: url(../images/header.webp); }

.webp .main__wrapper::after{ background-image: url(../images/header.webp); }

.webp .contact::before{ background-image: url(../images/contact/left.webp); }

.webp .contact::after{ background-image: url(../images/contact/right.webp); }